import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Open+Sans:wght@300&display=swap');
html{
    font-size: 62,5%;
    font-family:'Open Sans', sans-serif;
}
body{
    background-image:url(../imagenes/fondo.jpg);
}
/*Estilo de botonera*/
.nav{
    background-color: #256684c9;
    height: 120px;
    position: sticky;
    top: 0px;
    left: 0px;
    display: flex;
    text-align: center;
    flex-direction: column;
}    
nav a img {
    height: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
}
nav ul{
    margin-top: 0px;
    list-style: none;
    display: inline;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-family:'Nunito', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    display: inline;
}
nav ul li a:hover{  /*Cuando el cursor pase por encima pasará a cumplir las siguientes propiedades*/
    font-size: 1.1rem;
    text-decoration: underline solid;
    color: cadetblue;
}

header {
    font-size: 3rem;
    text-align: center;
}


p{
    font-family:'Open Sans', sans-serif;
    margin-top: 0px;
}


.estiloTitulos{
    font-size: 2rem;
    text-align: center;
    color: black;
    background-color: rgb(161, 188, 219);
    font-family:'Open Sans', sans-serif;
    margin-top: 0px;
}

.estiloSubtitulos{
    font-size: 1.5rem;
    text-align: center;
    color: black;
    background-color: rgb(161, 188, 219);
    font-family:'Open Sans', sans-serif;
    margin: 0px;
}


section p{
    font-family:'Open Sans', sans-serif;
}

footer{
    text-align: center;
    text-decoration: none;
}
footer a{
    text-decoration: none;
}
footer h4{
    font-family:'Open Sans', sans-serif;
    font-size: 1rem;
    padding-top: 5px;
}
footer a img{
    padding-bottom: 10px;
}
.bg-ofi{
    background-color: #256684;
    color: white;
}

main section ul li h3{
    color: black;
    font-family:'Open Sans', sans-serif;
}

main section ul{
    list-style: none;
    background-color: white;
    margin:0px;
}

.colorFondoParrafos{
    background-color: white;
    padding: 10px;
}

.colorBlackTitulo{
    background-color: black;
    color: white;
    text-align: center;
    border: solid 5px rgb(97, 97, 97);
    font-family:'Open Sans', sans-serif;
    margin: 0px;
}
.colorBlackContenido{
    background-color: white;
    color:black;
    font-family:'Open Sans', sans-serif;
    padding: 10px;
    margin: 0px;
}

.colorGoldTitulo{
    background-color: darkkhaki;
    color: black;
    text-align: center;
    border: solid 5px rgb(125, 122, 73);
    font-family:'Open Sans', sans-serif;
    margin: 0px;
}
.colorGoldContenido{
    background-color: rgb(247, 244, 208);
    color: black;
    font-family:'Open Sans', sans-serif;
    padding: 10px;
    margin: 0px;
}

.colorSilverTitulo{
    background-color: silver;
    color: black;
    text-align: center;
    border: solid 5px rgb(118, 118, 118);
    font-family:'Open Sans', sans-serif;
    margin: 0px;
}
.colorSilverContenido{
    background-color: rgb(237, 235, 235);
    color: black;
    font-family:'Open Sans', sans-serif;
    padding: 10px;
    margin: 0px;
}

header p{
    background-image: url(../imagenes/fondofrases.jpg);
    font-size: 2rem;
    color: black;
    text-decoration: solid;
    text-align: center;
    height: 85px;
    font-family:'Open Sans', sans-serif;
}


header img{
    width: 100%;
    margin-top: 0px;
}

form{
    background-color: white;
    text-align: left;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
}


/* --------------------------------------------------- GRID y RESPONSIVE ------------------------------------------*/


#nav{
    grid-area: nav;
}
#header{
    grid-area: header;
}
#main{
    grid-area: main;
}
#footer{
    grid-area: footer;
}


#contenedor{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "footer";
}

@media (min-width:768px){
    #contenedor{
        grid-template-columns: 50vw 50vw;
        grid-template-rows: auto;
        grid-template-areas: 
        "nav nav"
        "header header"
        "main main"
        "footer footer"
        ;
    }

    #main{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

   #main .sectionindex {
        width: 40%;
    }

}

.sectionindex{
    width: 100%;
}

@media (min-width:1024px){
    #contenedor{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "nav nav nav nav"
        "header header header header"
        "main main main main"
        "footer footer footer footer"
        ;
    }

    #main{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #main .sectionindex {
        width: 20%;
    }

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding: 10px;
    }

}


/*GRIDS RESPONSIVE suscripciones*/

#nav{
    grid-area: nav;
}
#header{
    grid-area: header;
}
#suscripciones{
    grid-area: suscripciones;
}
#formulario{
    grid-area: formulario;
}
#footer{
    grid-area: footer;
}


#suscripcion{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav"
    "header"
    "suscripciones"
    "formulario"
    "footer";


}

@media (min-width:768px){
    #suscripcion{
        grid-template-columns: 75vw 25vw;
        grid-template-rows: auto;
        grid-template-areas: 
        "nav nav"
        "header header"
        "suscripciones formulario"
        "footer footer"
        ;
    }

    #suscripciones{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

   #suscripciones .sectionsuscripciones {
        width: 80%;
    }

}

.sectionsuscripciones{
    width: 100%;
}

@media (min-width:1024px){
    #suscripcion{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "nav nav nav nav"
        "header header header header"
        "suscripciones suscripciones suscripciones formulario"
        "footer footer footer footer"
        ;
    }

    #suscripciones{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #suscripciones .sectionsuscripciones {
        width: 25%;
    }

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding: 10px;
    }

}

.scale:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: transform 1s;
}




