//IMAGEN FONDO
$imagenFondo: url(../imagenes/fondo.jpg);

//COLOR FONDO
$colorFondoPrimario:#236685e7;
$colorFondoSecundario:#a1cfe5c9;
$colorFondoTerciario:rgb(161, 188, 219);
$colorFondoCuaternario:white;


//COLOR LETRAS
$colorLetrasPrimario:white;
$colorLetrasSecundario:black;

body{
    background-image: $imagenFondo;
}

//MIXIN

@mixin Encabezados ($size, $alineacion, $fuente){
    font-size: $size;
    text-align: $alineacion;
    font-family: $fuente;
    margin-top: 0px;
}

.encabezados{
    @include Encabezados($fontSizeMd,$alineacionCentro,$fontFamily)
}


//EXTEND

.encabezadoDarkBlue{
    @extend .encabezados;
    color:white;
}

.encabezadoBlack{
    @extend .encabezados;
    border:solid 5px rgb(97, 97, 97);
    color:white;
}

.encabezadoGold{
    @extend .encabezados;
    border: solid 5px rgb(125, 122, 73);
    color: black;
}

.encabezadoSilver{
    @extend .encabezados;
    border: solid 5px rgb(118, 118, 118);
    color: black;
}


//MAPA

$paleta:(
    'uno':#236685e7,
    'dos': #a1cfe5c9,
    'tres': rgb(161, 188, 219),
    'cuatro':black,
    'cinco':silver,
    'seis': darkkhaki,
    'siete':white,
    );

.bg-color1 {
    background-color: map-get($map: $paleta, $key:'uno');
    color: $colorLetrasPrimario;
}

.bg-color2 {
    background-color: map-get($map: $paleta, $key:'dos');
    color: $colorLetrasSecundario;
}

.bg-color3 {
    background-color: map-get($map: $paleta, $key:'tres');
}

.bg-color4 {
    background-color: map-get($map: $paleta, $key:'cuatro');
}

.bg-color5 {
    background-color: map-get($map: $paleta, $key:'cinco');
}

.bg-color6 {
    background-color: map-get($map: $paleta, $key:'seis');
}

.bg-color7 {
    background-color: map-get($map: $paleta, $key:'siete');
}


.estiloSubtitulos{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $fontSizeMd;
    text-align: $alineacionCentro;
    color: $colorLetrasSecundario;
    background-color: $colorFondoTerciario;
    font-family:$fontFamily;
    margin: 0px;
}

.alineado{
    text-align: $alineacionCentro;
}

.tamañoHeader{
    height: 60vh;
    width: 100vw;
}

aside {
        section{
                background-color: map-get($map: $paleta, $key: 'siete');
                width: 100%;
                padding: 50px;
        }
    }