$widthLogo: 80px;

nav{
    background-color: $colorFondoSecundario;
    img{
        width: $widthLogo;
    }
    ul{
        li{
            a{  
                &:hover{
                    font-size: $fontSizeSm;
                    text-decoration: underline solid;
                }
            }
        }
    }
}




